<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
        <label>Username:</label>
        <input type="text" formControlName="username">
        <div *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched">
            Username is required.
        </div>
    </div>

    <div>
        <label>Password:</label>
        <input type="password" formControlName="password">
        <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
            Password is required and should be at least 6 characters.
        </div>
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>